.paginationClassic {
   margin-top: 1em;
   text-align: center;
}
.paginationClassic__buttonLeft {
   flex:1 1 auto;
   text-align: right;
   font-size:1.5rem;
   color:#86a7ca;
   padding-right: 0em;
}
.paginationClassic__buttonAble:hover {
   cursor: pointer;
}
.paginationClassic__buttonDisAble {
   color: #b3c3d2;
}
.paginationClassic__buttonRight {
   flex:1 1 auto;
   text-align: left;
   padding-left:0em;
   font-size:1.5rem;
   color:#86a7ca; 
}
.paginationClassic__buttonAble:hover {
   cursor: pointer;
}
.paginationClassic__buttonDisAble {
   color: #c4c6e3
}
.paginationClassic__content {
   font-size: 1.2rem;
   color:#86a7ca;
   width:1.7rem;
   font-weight: 700;
}
.paginationClassic__row {
   display: flex;
   align-items: center;
}
