/*---Users---*/
.users {
   background-color: white;
   border-radius: 0.2em;
   width:66%;
   border:1px solid #d3d9de;
   padding-bottom: 1em;
}
.users__title {
   width:100%;
   padding: 1.2em 1.6em;
   font-size: 1.3rem;
   font-weight: 100;
   background-color: #fafbfc;
   border-radius: 0.2em 0.2em 0em 0em;
   border-bottom:1px solid #d3d9de;
}
.users__menu {
   border-bottom:1px solid #d3d9de;
   padding: 0.7em 2.1em;
   margin-bottom: 0.9em;
}
.menuUsers__row {
   display: flex;
}
.menuUsers__title {
   flex:1 1 auto;
   align-self: center;
   font-weight: 100;
   font-size: 0.9rem;
}
.menuUsers__button {
   align-self: center;
   padding:0.5em 1.2em;
   background-color: #5181b8;
   border-radius: 0.2em;
   color:white;
   font-size: 0.7rem;
}
.menuUsers__button:hover {
   background-color:  #5f8dc1;
}
.requestUsers__item {
   padding:0.8em 2.1em 0em 2.1em;
}
.itemUsers__row {
   display: flex;
}
.itemUsers__image {
   width:5em;
   height:5em;
}
.itemUsers__image > img {
   width:100%;
   height:100%;
   object-fit: cover;
   border-radius: 50%;
}
.itemUsers__body {
   align-self: center;
   padding-left: 1em;
}
.bodyUsers__name {
   border-bottom:1px solid transparent;
   color:#2a58a0;
   font-size: 1rem;
}
.bodyUsers__name:hover {
   border-bottom:1px solid #2a58a0;
}
.bodyUsers__navigation {
   margin-top:0.8em;
}
.navigationUsers__row {
   display:flex;
}
.navigationUsers__message {
   display: block;
   padding:0.6em 0.8em;
   background-color: #5181b8;
   border-radius: 0.2em;
   color: white;
   font-size: 0.7rem;
}
.navigationUsers__message:hover {
   background-color:  #5f8dc1;
}
.navigationUsers__subscribe {
   margin-left: 0.3em;
}
.navigationUsers__subscribe > button {
   font-size: 0.9rem;
   padding:0.35em;
   color: white;
   background-color: #5181b8;
   border-radius: 0.2em;
}
.navigationUsers__subscribe >button:hover {
   background-color:  #5f8dc1;
}
.requestUsers__line {
   width:90%;
   margin:0 auto;
   margin-top:0.8em;
   border-bottom: 1px solid #e7e8ec;

}
.login__warning {
   width:90%;
   margin: 0 auto;
   background-color: #f0f2f5;
   border:1px solid #d3d9de;
   border-radius: 0.2em;
   padding:1em;
   font-size: 0.9rem;
   font-weight:100;
}
/*---Preloader---*/
.preloader__usersWrapper {
   display: flex;
   height:85vh;
   width:66%
}
.preloader__usersBlock {
 width:4em;
 margin:auto;
}