.login__form {
   padding:1em 0em;
   position: relative;
}
.login__item {
   width:35%;
   margin:0 auto;
   margin-top: 1em;
}
.login__input {
   font-size: 0.9rem;
   padding:0.6em 1em;
   border:1px solid #d3d9de;
   border-radius: 0.2em;
   width:75%;
}
.login__checkbox {
   position: relative;
   left:32.5%;
   width:16%;
   margin-top: 1em;
}
.login__checkbox:hover {
   cursor: pointer;
}
.login__checkbox::before {
   content:'';
   position: absolute;
   top:0em;left:0;bottom: 0.1em;
   width:1.2em;
   height:1.2em;
   background-color:#5f8dc1;
   border-radius:0.1em;
}
.login__checkbox::after {
   content:'';
   position: absolute;
   top:0.25em;left:0.25em;
   width: 0.7em;
   height:0.7em;
   background-color: white;
}
.checkbox__active::after {
   background-color: #5f8dc1;
}
.login__checkbox > input {
   margin-left: 1.2em;
   display: none;
   
}
.login__checkbox > span {
   margin-left: 1.8em;
}
.login__button {
   position: relative;
   left:32.5%;
   padding: 0.6em 1.2em;
   color:white;
   background-color: #5181b8;
   border-radius:0.2em;
   font-weight: 100;
   margin-top: 1em;
   font-size: 0.9rem;
}
.login__button:hover {
   background-color: #5f8dc1;
}
