/*---APP---*/
.wrapper {
  width:100%;
  height:100%;
}
.main {
  width:100%;
  height:100%;
  background-color: #edeef0;
}
.main__row {
  display: flex;
  justify-content: space-between;
}
.container {
  width:75%;
  margin:0 auto;
}
@media (max-width: 768px) {
  .container {
    width:100%;
    margin:0 auto;
  }
}
.main__content {
  width:86%;
}
.main__aside {
  width:13%;
}
/*---PRELOADER---*/
.preloader__AppWrapper {
  display: flex;
  height:100vh;
}
.preloader__AppBlock {
  width:10em;
  margin:auto;
}